<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fag el-Gamous</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/myCSS.css" rel="stylesheet" />
</head>
<body style="background-color:black">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">

        <div class="container" style="margin-left:10px">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:gold;font-weight:bold;font-size:42px">Fag el-Gamous</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <div style="position:fixed;right:0;margin-right:25px">
                    <partial name="_LoginPartial" />
                </div>

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item" >
                        <a class="nav-link mynav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mynav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mynav-link" asp-area="" asp-controller="Home" asp-action="BurialSummary">Burial Summary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mynav-link" asp-area="" asp-controller="Home" asp-action="UnsupervisedAnalysis">Unsupervised Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mynav-link" asp-area="" asp-controller="Home" asp-action="SupervisedAnalysis">Supervised Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mynav-link" asp-area="" asp-controller="Home" asp-action="AdminCRUD">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
    </header>

    <!-- BODY STUFF-->
    <div>
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            <div style="margin-left:50px;margin-right:50px">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Buffalo_Intex - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
