@model Buffalo_Intex.Burialmain

@{
    ViewData["Title"] = "Edit";
}

<div class="text-center">
    <h1 class="display-4">Edit</h1>
    <h4>Edit your selected mummy information here</h4>
</div>

<hr />
<div style="margin-left:33%">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Squarenorthsouth" class="control-label myLabel"></label>
            <input asp-for="Squarenorthsouth" class="form-control myInput" />
            <span asp-validation-for="Squarenorthsouth" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Headdirection" class="control-label myLabel"></label>
            <input asp-for="Headdirection" class="form-control myInput" />
            <span asp-validation-for="Headdirection" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Sex" class="control-label myLabel"></label>
            <input asp-for="Sex" class="form-control myInput" />
            <span asp-validation-for="Sex" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Northsouth" class="control-label myLabel"></label>
            <input asp-for="Northsouth" class="form-control myInput" />
            <span asp-validation-for="Northsouth" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Depth" class="control-label myLabel"></label>
            <input asp-for="Depth" class="form-control myInput" />
            <span asp-validation-for="Depth" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Eastwest" class="control-label myLabel"></label>
            <input asp-for="Eastwest" class="form-control myInput" />
            <span asp-validation-for="Eastwest" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Adultsubadult" class="control-label myLabel"></label>
            <input asp-for="Adultsubadult" class="form-control myInput" />
            <span asp-validation-for="Adultsubadult" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Facebundles" class="control-label myLabel"></label>
            <input asp-for="Facebundles" class="form-control myInput" />
            <span asp-validation-for="Facebundles" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Southtohead" class="control-label myLabel"></label>
            <input asp-for="Southtohead" class="form-control myInput" />
            <span asp-validation-for="Southtohead" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Preservation" class="control-label myLabel"></label>
            <input asp-for="Preservation" class="form-control myInput" />
            <span asp-validation-for="Preservation" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Fieldbookpage" class="control-label myLabel"></label>
            <input asp-for="Fieldbookpage" class="form-control myInput" />
            <span asp-validation-for="Fieldbookpage" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Squareeastwest" class="control-label myLabel"></label>
            <input asp-for="Squareeastwest" class="form-control myInput" />
            <span asp-validation-for="Squareeastwest" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Goods" class="control-label myLabel"></label>
            <input asp-for="Goods" class="form-control myInput" />
            <span asp-validation-for="Goods" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Text" class="control-label myLabel"></label>
            <input asp-for="Text" class="form-control myInput" />
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Wrapping" class="control-label myLabel"></label>
            <input asp-for="Wrapping" class="form-control myInput" />
            <span asp-validation-for="Wrapping" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Haircolor" class="control-label myLabel"></label>
            <input asp-for="Haircolor" class="form-control myInput" />
            <span asp-validation-for="Haircolor" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Westtohead" class="control-label myLabel"></label>
            <input asp-for="Westtohead" class="form-control myInput" />
            <span asp-validation-for="Westtohead" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Samplescollected" class="control-label myLabel"></label>
            <input asp-for="Samplescollected" class="form-control myInput" />
            <span asp-validation-for="Samplescollected" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Area" class="control-label myLabel"></label>
            <input asp-for="Area" class="form-control myInput" />
            <span asp-validation-for="Area" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Burialid" class="control-label myLabel"></label>
            <input asp-for="Burialid" class="form-control myInput" />
            <span asp-validation-for="Burialid" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Length" class="control-label myLabel"></label>
            <input asp-for="Length" class="form-control myInput" />
            <span asp-validation-for="Length" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Burialnumber" class="control-label myLabel"></label>
            <input asp-for="Burialnumber" class="form-control myInput" />
            <span asp-validation-for="Burialnumber" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Dataexpertinitials" class="control-label myLabel"></label>
            <input asp-for="Dataexpertinitials" class="form-control myInput" />
            <span asp-validation-for="Dataexpertinitials" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Westtofeet" class="control-label myLabel"></label>
            <input asp-for="Westtofeet" class="form-control myInput" />
            <span asp-validation-for="Westtofeet" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Ageatdeath" class="control-label myLabel"></label>
            <input asp-for="Ageatdeath" class="form-control myInput" />
            <span asp-validation-for="Ageatdeath" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Southtofeet" class="control-label myLabel"></label>
            <input asp-for="Southtofeet" class="form-control myInput" />
            <span asp-validation-for="Southtofeet" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Excavationrecorder" class="control-label myLabel"></label>
            <input asp-for="Excavationrecorder" class="form-control myInput" />
            <span asp-validation-for="Excavationrecorder" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Photos" class="control-label myLabel"></label>
            <input asp-for="Photos" class="form-control myInput" />
            <span asp-validation-for="Photos" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Hair" class="control-label myLabel"></label>
            <input asp-for="Hair" class="form-control myInput" />
            <span asp-validation-for="Hair" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Burialmaterials" class="control-label myLabel"></label>
            <input asp-for="Burialmaterials" class="form-control myInput" />
            <span asp-validation-for="Burialmaterials" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Dateofexcavation" class="control-label myLabel"></label>
            <input asp-for="Dateofexcavation" class="form-control myInput" />
            <span asp-validation-for="Dateofexcavation" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Fieldbookexcavationyear" class="control-label myLabel"></label>
            <input asp-for="Fieldbookexcavationyear" class="form-control myInput" />
            <span asp-validation-for="Fieldbookexcavationyear" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Clusternumber" class="control-label myLabel"></label>
            <input asp-for="Clusternumber" class="form-control myInput" />
            <span asp-validation-for="Clusternumber" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <label asp-for="Shaftnumber" class="control-label myLabel"></label>
            <input asp-for="Shaftnumber" class="form-control myInput" />
            <span asp-validation-for="Shaftnumber" class="text-danger"></span>
        </div>
        <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
            <input type="submit" value="Save" class="btn btn-primary" style="margin-left:20%" />
        </div>
    </form>
    <div>
        <a asp-action="Index" style="margin-left:22.5%">Back to List</a>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

