@{
    ViewData["Title"] = "Burial Summary";
}


<div class="text-center">
    <h1 class="display-4">Burial Summary Page</h1>
    <p>Below is information that has been recorded in BYU's Egyptian Archeology journals</p>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Burial ID</td>
            <td>Sex</td>
            <td>Burial Depth</td>
            <td>Age at Death</td>
            <td>Head Direction</td>
            <td>Hair Color</td>
            <td>Preservation</td>
            <td>Goods</td>
            <td>Text</td>
            <td>Photos</td>
        </tr>
    </thead>

</table>

