@{
    ViewData["Title"] = "Burial Summary";
}

@model List<Burialmain>

<div class="text-center">
    <h1 class="display-4">Burial Summary</h1>
    <p>Below is information that has been recorded in BYU's Egyptian Archeology journals</p>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Burial ID</th>
            <th>Textile Color</th>
            <th>Textile Structure</th>
            <th>Sex</th>
            <th>Depth</th>
            <th>Estimated Stature</th>
            <th>Age at Death</th>
            <th>Head Direction</th>
            <th>Textile Function</th>
            <th>Hair Color</th>
        </tr>
    </thead>
    <!-- OUR CODE FOR PULLING THE DATA WOULD GO HERE -->

</table>

<a asp-controller="Burialmains" asp-action="Index">View Records</a>

