@{
    ViewData["Title"] = "Burial Summary";
}

@model MummyViewModel

<div class="text-center">
    <h1 class="display-4">Burial Summary Page</h1>
    <p>Below is information that has been recorded in BYU's Egyptian Archeology journals</p>
</div>

@foreach (var b in Model.Burialmain)
{
    <partial name="MummySummary" model="b" />
}

<!-- PAGE BUTTON INFO -->
<center>
    <div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary" class="btn-group pull-right m-1">
    </div>
</center>



<!--
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Burial ID</td>
            <td>Sex</td>
            <td>Burial Depth</td>
            <td>Age at Death</td>
            <td>Head Direction</td>
            <td>Hair Color</td>
            <td>Preservation</td>
            <td>Goods</td>
            <td>Text</td>
            <td>Photos</td>
        </tr>
    </thead>

</table>
-->
