@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is the Home Page</h1>
    <p>Who's your mummy?</p>
</div>
 

<div>
    <a asp-controller="BurialSummary">Visit Burial Summary List</a>
</div>