@{
    ViewData["Title"] = "Home Page";
}

<div class="row fade-in" style="padding-top:175px;margin-bottom:300px;">
    <div class="col-6 d-flex justify-content-center align-items-center text-center">
        <div class="content">
            <img src="~/img/egypt-tutankhamuns-death-mask-wallpaper-preview.jpeg" />
        </div>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center text-center">
        <div class="content">
            <h1 class="display-4" style="color:gold;font-weight:bold;font-size:96px">Fag el-Gamous</h1>
            <p style="color:gold;font-size:24px">Also known as the "Way of the Water Buffalo", Fag el-Gamous is a significant cemetery in Egypt that has been a focus of archaeological research for over 25 years, primarily by BYU researchers. The excavation has gained global recognition for its fascinating revelations about the mummies discovered at Fag el-Gamous. This website offers in-depth information and analytical resources about these mummies found at this notable location.</p>
            <div style="margin-top:42px">
                <a asp-controller="Home" asp-action="BurialSummary" class="btn-primary">Who's your mummy?</a>
            </div>
        </div>
    </div>
</div>





