@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is the Home Page</h1>
    <p>Fag el-Gamous, also known as the "Way of the Water Buffalo," is a significant cemetery in Egypt that has been a focus of archaeological research for over 25 years, primarily by BYU researchers. The excavation has gained global recognition for its fascinating revelations about the mummies discovered at Fag el-Gamous. This website offers in-depth information and analytical resources about these mummies found at this notable location.</p>
</div>
