@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Buffalo_Intex.Models.SupervisedResponse

<h2>Prediction</h2>

<h3>Based on our prediction model, we believe this excavation is a:</h3>

@*It's a girl if statement*@

@*It's a boy if statement*@