@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Buffalo_Intex.Models.SupervisedResponse

<h2>Enter information to predict excavation sex</h2>

<form method="post">
    <label asp-for="SciaticNotch">Sciatic Notch: </label>
    <input asp-for="SciaticNotch" /><br />

    <label asp-for="SubpubicAngle">Subpubic Angle: </label>
    <input asp-for="SubpubicAngle" /><br />

    <label asp-for="Femur">Femur: </label>
    <input asp-for="Femur" /><br />

    <label asp-for="FemurHeadDiameter">Femur Head Diameter: </label>
    <input asp-for="FemurHeadDiameter" /><br />

    <label asp-for="FemurLength">Femur Length: </label>
    <input asp-for="FemurLength" /><br />

    <label asp-for="Humerus">Humerus: </label>
    <input asp-for="Humerus" /><br />

    <label asp-for="HumerusHeadDiameter">Humerus Head Diameter: </label>
    <input asp-for="HumerusHeadDiameter" /><br />

    <label asp-for="HumerusLength">Humerus Length: </label>
    <input asp-for="HumerusLength" /><br />

    <button type="submit">Predict</button>
</form>

<h3>Based on our prediction model, we believe this excavation is a:</h3>

@*It's a girl if statement*@

@*It's a boy if statement*@