@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>You've successfully created an account.</h3>
<h4>Click  
    <a asp-area="Identity" asp-page="/Account/Login">HERE</a> to sign in
</h4>
