@{
    ViewData["Title"] = "Supervised Analysis";
}

@model Buffalo_Intex.Models.SupervisedResponse

<div class="text-center">
    <h1 class="display-4">This is the Supervised Analyis Page</h1>
    <p>Adult Supervision Required</p>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Max Cranium Length</td>
            <td>Max Cranium Breadth</td>
            <td>Sciatic Notch</td>
            <td>Subpubic Angle</td>
            <td>Femur</td>
            <td>Femur Head Diameter</td>
            <td>Femur Length</td>
            <td>Humerus</td>
            <td>Humerus Head Diameter</td>
            <td>Humerus Length</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>


<h2>Enter information to predict excavation sex</h2>

<form method="post">
    <label asp-for="MaxCraniumLength">Max Cranium Length: </label>
    <input asp-for="MaxCraniumLength" /><br />

    <label asp-for="MaxCraniumBreadth">Max Cranium Breadth: </label>
    <input asp-for="MaxCraniumBreadth" /><br />

    <label asp-for="SciaticNotch">Sciatic Notch: </label>
    <input asp-for="SciaticNotch" /><br />

    <label asp-for="SubpubicAngle">Subpubic Angle: </label>
    <input asp-for="SubpubicAngle" /><br />

    <label asp-for="Femur">Femur: </label>
    <input asp-for="Femur" /><br />

    <label asp-for="FemurHeadDiameter">Femur Head Diameter: </label>
    <input asp-for="FemurHeadDiameter" /><br />

    <label asp-for="FemurLength">Femur Length: </label>
    <input asp-for="FemurLength" /><br />

    <label asp-for="Humerus">Humerus: </label>
    <input asp-for="Humerus" /><br />

    <label asp-for="HumerusHeadDiameter">Humerus Head Diameter: </label>
    <input asp-for="HumerusHeadDiameter" /><br />

    <label asp-for="HumerusLength">Humerus Length: </label>
    <input asp-for="HumerusLength" /><br />

    <button type="submit">Predict</button>
</form>