@{
    ViewData["Title"] = "Supervised Analysis";
}

@model Buffalo_Intex.Models.SupervisedResponse

<div class="text-center">
    <h1 class="display-4">This is the Supervised Analyis Page</h1>
    <p>Adult Supervision Required</p>
</div>


<h2>Enter information to predict excavation sex</h2>

<form>
    <label asp-for=""></label>
    <input asp-for="" /><br />
    <label asp-for=""></label>
    <input asp-for="" /><br />
</form>