@{
    ViewData["Title"] = "Supervised Analysis";
}

<div class="text-center">
    <h1 class="display-4">Supervised Analyis</h1>
</div>


<div class="row text-center" style="padding-top:50px">
    <div class="col-7">
        <h4>Fill out the form to predict how your mummy was most likely wrapped</h4>
        <form id="account" method="post">
            <div style="margin-left:10%;margin-top:42px;">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group" style="color:white; margin-top:10px; margin-bottom:15px">
                    <label for="HeadDirection" class="myLabelSuper">Head Direction:</label>
                    <input for="HeadDirection" class="form-control myInput" />
                    <!-- <span asp-validation-for="Burialmain" class="text-danger"></span> -->
                </div>
                <div class="form-group" style="color: white; margin-bottom: 15px">
                    <label for="Sex" class="myLabelSuper">Sex:</label>
                    <input for="Sex" class="form-control myInput" />
                    <!-- <span asp-validation-for="something2" class="text-danger"></span> -->
                </div>
                <div class="form-group" style="color: white; margin-bottom: 15px">
                    <label for="NorthSouth" class="myLabelSuper">North(N) or South(S):</label>
                    <input for="NorthSouth" class="form-control myInput" />
                    <!-- <span asp-validation-for="something2" class="text-danger"></span> -->
                </div>
                <div class="form-group" style="color: white; margin-bottom: 15px">
                    <label for="Depth" class="myLabelSuper">Depth</label>
                    <input for="Depth" class="form-control myInput" />
                    <!-- <span asp-validation-for="something2" class="text-danger"></span> -->
                </div>
                <div class="form-group" style="color: white; margin-bottom: 15px">
                    <label for="EastWest" class="myLabelSuper">East(E) or West(W):</label>
                    <input for="EastWest" class="form-control myInput" />
                    <!-- <span asp-validation-for="something2" class="text-danger"></span> -->
                </div>
                <div class="form-group" style="color: white; margin-bottom: 15px">
                    <label for="AdultSubAdult" class="myLabelSuper">Adult (A or C):</label>
                    <input for="AdultSubAdult" class="form-control myInput" />
                    <!-- <span asp-validation-for="something2" class="text-danger"></span> -->
                </div>
                <div class="form-group" style="color: white; margin-bottom: 15px">
                    <label for="FaceBundles" class="myLabelSuper">Face Bundles (T or F):</label>
                    <input for="FaceBundles" class="form-control myInput" />
                    <!-- <span asp-validation-for="something2" class="text-danger"></span> -->
                </div>
                <div class="form-group" style="color: white; margin-bottom: 15px">
                    <label for="SouthToHead" class="myLabelSuper">South to Head Distance:</label>
                    <input for="SouthToHead" class="form-control myInput" />
                    <!-- <span asp-validation-for="something2" class="text-danger"></span> -->
                </div>
                <div class="form-group" style="color: white; margin-bottom: 15px">
                    <label for="Preservation" class="myLabelSuper">Preservation:</label>
                    <input for="Preservation" class="form-control myInput" />
                    <!-- <span asp-validation-for="something2" class="text-danger"></span> -->
                </div>
                <div class="form-group" style="color: white; margin-bottom: 15px">
                    <label for="EastWestSquare" class="myLabelSuper">East West Square: </label>
                    <input for="EastWestSquare" class="form-control myInput" />
                    <!-- <span asp-validation-for="something2" class="text-danger"></span> -->
                </div>
                <div class="form-group" style="color: white; margin-bottom: 15px">
                    <label for="Goods" class="myLabelSuper">Goods:</label>
                    <input for="Goods" class="form-control myInput" />
                    <!-- <span asp-validation-for="something2" class="text-danger"></span> -->
                </div>
                <div class="form-group" style="color: white; margin-bottom: 15px">
                    <label for="Wrapping" class="myLabelSuper">Wrapping:</label>
                    <input for="Wrapping" class="form-control myInput" />
                    <!-- <span asp-validation-for="something2" class="text-danger"></span> -->
                </div>
                <div class="form-group" style="color: white; margin-bottom: 15px">
                    <label for="SamplesCollected" class="myLabelSuper">Samples Collected (T or F):</label>
                    <input for="SamplesCollected" class="form-control myInput" />
                    <!-- <span asp-validation-for="something2" class="text-danger"></span> -->
                </div>
                <div class="form-group" style="color: white; margin-bottom: 15px">
                    <label for="Area" class="myLabelSuper">Area:</label>
                    <input for="Area" class="form-control myInput" />
                    <!-- <span asp-validation-for="something2" class="text-danger"></span> -->
                </div>
                <div class="form-group" style="color: white; margin-bottom: 15px">
                    <label for="WestToFeet" class="myLabelSuper">West to Feet:</label>
                    <input for="WestToFeet" class="form-control myInput" />
                    <!-- <span asp-validation-for="something2" class="text-danger"></span> -->
                </div>
                <div class="form-group" style="color: white; margin-bottom: 15px">
                    <label for="AgeAtDeath" class="myLabelSuper">Age at Death:</label>
                    <input for="AgeAtDeath" class="form-control myInput" />
                    <!-- <span asp-validation-for="something2" class="text-danger"></span> -->
                </div>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top:12px;">Submit Information</button>
        </form>
    </div>

    <div class="col-5">
        <h3 style="margin-top:125px">
            Fill out the form to see how your mummy was most likely wrapped<span class="dotOne"> . </span>
            <span class="dotTwo"> . </span>
            <span class="dotThree"> . </span>
        </h3>
    </div>
</div>
