@{
    ViewData["Title"] = "Unsupervised Analysis";
}

<div class="text-center">
    <h1 class="display-4">Unsupervised Analysis</h1>
</div>

<div class="row" style="padding-top:15px;margin-bottom:150px;">
    <div class="col-6 d-flex justify-content-center align-items-center text-center">
        <div class="content">
            <img src="~/img/unsupervised image.jpg" />
        </div>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center text-center">
        <div class="content">
            <p style="font-size:24px">After examining the data, our team has identified important details that help support/refute the argument that burial practices changed over time. Specifically, we found that the type of wrapping used on the mummies changed the most over time. We found that whether it was a whole body, partial body, or just bones that were wrapped, this was the best indicator that burial practices had changed over time.</p>
        </div>
    </div>
</div>

