.fade-in {
    position: relative;
    z-index: 0;
    opacity: 1;
    animation: fadeIn 2.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 {
    font-size: 100px;
    margin-bottom: 25px;
    color: gold;
}

h2{
    font-size:64px;
}

h3{
    color:white;
    font-size:42px;
}

h4{
    font-size: 24px;
    color:white;
}

p{
    color:white;
}

ul{
    color:white;
}
li{
    color:white;
}

.formInputs {
    align-content:center;
    justify-content: center;
}
.mynav-link{
    color:white
}
.mynav-link:hover {
    color: gold;
    cursor:pointer;
}

.mynav-link-account {
    color: gold
}

.mynav-link-account:hover {
color: darkgoldenrod;
cursor: pointer;
}

.myLabel {
    float: left;
    width: 85px;
    text-align: right;
    font-weight: bold;
    padding-right:25px;
    width:175px;
    font-size:18px;
}

.myInput {
    width: 275px;
    height: 32px;
}

.myLabelCheck {
    float: left;
    width: 50px;
    text-align: right;
    font-weight: bold;
    padding-right: 25px;
    width: 175px;
    font-size: 18px;
}

.myInputCheck {
    width: 24px;
    height: 20px;
}

.btn-primary{
    background-color:gold;
    color:black;
    border-color:black;
}

.btn-primary:hover {
    background-color: darkgoldenrod;
    border-color: black;
    cursor: pointer;
}

.btn-primary:active,btn-primary:focus {
background-color: darkgoldenrod;
border-color: black;
cursor: pointer;
}

/* WAITING TO START ANIMATIONS */
.dotOne {
    animation: fadeinout 2s ease-in-out infinite;
    opacity: 0;
}

.dotTwo {
    animation: fadeinout 2s ease-in-out infinite;
    animation-delay: 0.5s;
    opacity: 0;
}

.dotThree {
    animation: fadeinout 2s ease-in-out infinite;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.myLabelSuper {
    float: left;
    width: 250px;
    text-align: right;
    font-weight: bold;
    padding-right: 25px;
    font-size: 18px;
}

th, td, dt, dd{
    color:white
}